{% extends 'orders/base.html' %}
{% block title %}Order Placed{% endblock %}
{% block content %}
<div class="card p16">
  <h2>✅ Order placed successfully</h2>
  <p>Order ID: <strong>{{ order.id }}</strong></p>
  <p>Status: <strong>{{ order.status }}</strong></p>
  <p>Total: <strong>৳ {{ order.total_price }}</strong></p>
  <h3>Items</h3>
  <ul>
    {% for item in order.items.all %}
      {% comment %} <li>{{ item.pet.name }} × {{ item.quantity }} = ${{ item.line_total }}</li> {% endcomment %}
      <li>{{ item.pet.name }} × {{ item.quantity }} = ৳ {{ item.total_price }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'orders:dashboard' %}" class="btn" style="text-decoration:none;">Go to Dashboard</a>
</div>
{% endblock %}
  
